.product-details
    width: 100%
    max-width: 900px
    display: flex
    justify-content: center
    background-color: white
    padding: 1rem
    margin: 1rem

.product-cont
    width: 100%
    display: flex
    justify-content: space-between
    .product-img
        img
            width: 100%
            max-width: 480px
    .product-description
        display: flex
        flex-flow: column
        align-items: flex-start
        margin-right: 1rem
        .product-price
            color: green