.nav-cont
    width: 100px
    display: flex
    flex-flow: column
    position: relative
    min-height: 100vh
    //height: 100%
    ///justify-content: space-between
    //align-items: center
    //background: #8b0f1a99
    background: radial-gradient(circle, #70396cd7 0%, #680b1399 100%)
    //background: radial-gradient(circle, #b7bee2 0%, #ace4de 100%)
    //background-color: #283847

.nav-left-cont
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-flow: column
    text-align: left
    margin-top: 1rem
    a 
        color: #ffffff
        text-decoration: none
.logo-cont 
    display: flex
    flex-flow: column
    cursor: pointer
    a   
        margin-top: 1rem
        color: inherit
        text-decoration: none
        display: flex
        align-items: center
        flex-flow: column
    h1
        display: none
        color: white
        font-weight: 500
        font-size: 1.5rem
        margin-left: .5rem
    img
        display: block
        max-width: 28px

.cart-cont
    display: flex
    margin-top: 1rem
    justify-content: center
    align-items: center
    cursor: pointer
    img
        width: 25px
        fill: white

.nav-items-list
    width: 100%
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin: .5rem
    flex-flow: column
    padding: 0
    a 
        padding: .5rem