.log-in
    position: absolute
    right: 50%
    top: 50%
    transform: translate(50%, -50%)
    display: flex
    width: 100%
    max-width: 400px
    flex-flow: column
    align-items: center
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3)
    border-radius: 7px
    background-color: white
    padding: 1rem
    .p-inputtext
        margin-top: 1.5rem
        margin-bottom: .5rem
    input
        box-sizing: border-box
        height: 40px
        padding: 10px 16px
        outline: none
        border-radius: 8px
    button
        margin-top: 2.5rem
        cursor: pointer !important
    .p-button
        box-shadow: 0 8px 32px rgba(0,0,0,.08)
        background: #c5d1e9
        border-radius: 5px
        border: 1px solid white
        color: black